@import url("https://fonts.googleapis.com/css?family=Sniglet");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

nav {
  height: 50px;
  width: 100%;
  background-color: #101c28;
  position: fixed;
  z-index: 5;
  box-shadow: 0px 1px 5px #101c28;
  transition: all 0.4s ease-out; }

nav:hover {
  background-color: #fff;
  color: #101c28; }
  nav:hover a {
    color: #101c28; }

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%; }

nav li {
  float: left;
  height: 100%;
  transition: all 0.3s ease-out; }

nav li:hover {
  border-bottom: 4px solid #101c28; }

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  padding-top: 15px;
  font-weight: 600; }

nav a:hover {
  text-decoration: none; }

nav a#openup {
  display: none; }

@media screen and (max-width: 598.5px) {
  nav {
    height: auto;
    border-bottom: 0; }
  nav:hover a {
    color: #fff; }
  nav .logo {
    display: none; }
  nav ul {
    display: none;
    height: auto;
    left: 0; }
  nav li {
    width: 100%;
    float: left;
    position: relative; }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #101c28;
    color: #fff;
    transition: all 0.3s ease-out; }
  nav a:hover {
    background: #fff;
    color: #101c28; }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 27px; }
  nav a#openup {
    display: block;
    width: 100%;
    position: relative; } }

@media screen and (min-width: 1366px) {
  nav ul {
    max-width: 81.875rem;
    margin: 0 auto; } }

.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -1; }
  .hero__bg-image {
    width: 100%;
    height: 100%;
    background: url("../img/image01--low-res.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px); }
    @media screen and (min-width: 768px) {
      .hero__bg-image {
        background: url("../img/image01--mid-res.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media screen and (min-width: 1200px) {
      .hero__bg-image {
        background: url("../img/image01--hi-res.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media screen and (min-width: 1366px) {
      .hero__bg-image {
        background: url("../img/image01--very-hi-res.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  .hero__title {
    font-size: 2rem;
    line-height: 1.3;
    padding-left: 1.5rem;
    position: absolute;
    color: #fff; }

.intro {
  padding: 0 0.5rem;
  width: 100%; }
  .intro__lead {
    margin-top: 3rem; }
  .intro__header {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center; }
    @media screen and (max-width: 598.5px) {
      .intro__header {
        font-size: 1.5rem; } }
  .intro__reasons {
    margin-top: 2rem; }
    .intro__reasons__item {
      text-align: center;
      margin-top: 3rem; }
      @media screen and (max-width: 598.5px) {
        .intro__reasons__item h4 {
          font-size: 1.1rem; } }
      .intro__reasons__item__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        max-width: 60rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto; }
        .intro__reasons__item__grid img {
          width: 100%; }
        .intro__reasons__item__grid p {
          text-align: left; }
        @media screen and (min-width: 768px) {
          .intro__reasons__item__grid {
            grid-template-columns: 1fr 1fr; }
            .intro__reasons__item__grid img {
              height: 20rem; } }

.guitars {
  margin-top: 3rem; }
  .guitars__header {
    text-align: center; }
    @media screen and (max-width: 598.5px) {
      .guitars__header {
        font-size: 1.5rem; } }
  .guitars__card {
    margin-top: 2rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem; }
    @media screen and (min-width: 600px) {
      .guitars__card {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1200px) {
      .guitars__card {
        grid-template-columns: repeat(3, 1fr); } }
    .guitars__card__item {
      box-shadow: 0px 0px 8px -2px #f80652;
      height: 20rem;
      transition: all 0.3s ease-out; }
      .guitars__card__item:hover {
        transform: scale(1.05);
        cursor: pointer; }
      .guitars__card__item__bg-image {
        height: 85%; }
        .guitars__card__item__bg-image img {
          width: 100%;
          height: 100%; }
      .guitars__card__item p {
        text-align: center;
        padding-top: 1rem; }
  .guitars .guitars__modal__body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify; }
    @media screen and (min-width: 768px) {
      .guitars .guitars__modal__body {
        grid-template-columns: repeat(2, 1fr); } }
    .guitars .guitars__modal__body__image {
      text-align: center; }
    .guitars .guitars__modal__body__content ul {
      padding-left: 1.1rem; }
    .guitars .guitars__modal__body__content button {
      width: 100%;
      height: 2.5rem;
      background: #101c28;
      border: 2px solid #101c28;
      border-radius: 25px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.35s ease-in-out; }
      .guitars .guitars__modal__body__content button:hover {
        background: #fff;
        color: #101c28; }
      .guitars .guitars__modal__body__content button:last-child {
        margin-top: 0.5rem; }

.players {
  margin-top: 3rem;
  padding: 0 0.5rem; }
  .players__video {
    margin-top: 3rem;
    text-align: center; }
    .players__video iframe {
      width: 40rem;
      height: 22.5rem;
      margin-top: 1rem; }
      @media screen and (max-width: 598.5px) {
        .players__video iframe {
          width: 100%;
          height: 15rem; } }

.footer__store-links {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 81.875rem;
  padding-top: 1.5rem;
  border-top: 1px solid #101c28;
  text-align: center; }
  .footer__store-links h5 {
    margin-bottom: 1rem; }
  .footer__store-links img {
    width: 15rem;
    margin: 1rem 1rem;
    transition: all 0.3s ease-out; }
    @media screen and (max-width: 598.5px) {
      .footer__store-links img {
        width: 9rem; } }
    .footer__store-links img:hover {
      cursor: pointer;
      transform: scale(1.1); }

.footer__copyright {
  text-align: center;
  background: #101c28;
  color: #fff;
  margin-bottom: 0;
  padding-top: 0.8rem;
  height: 3rem; }

main {
  max-width: 81.875rem;
  margin: 0 auto; }
