@import url("https://fonts.googleapis.com/css?family=Sniglet");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

// font-family: 'Sniglet', cursive;
// font-family: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Media Query Mixins

// small screens with screen widths of 600px or less
@mixin verySmall {
  @media screen and (max-width: 598.5px) {
    @content;
  }
}

// Small Screens larger than 600px
@mixin small {
  @media screen and (min-width: 600px) {
    @content;
  }
}
// Medium Screens Larger than 768px
@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Large Screens larger than 1200px
@mixin large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Large Screens larger than 1366px
@mixin veryLarge {
  @media screen and (min-width: 1366px) {
    @content;
  }
}
