.intro {
  padding: 0 0.5rem;
  margin-top: 2rem;

  &__header {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: center;
  }

  &__reasons {
    margin-top: 1.5rem;

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      height: 12.5rem;
    }
  }
}
