nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
}

nav .logo {
  margin-left: 20px;
  position: fixed;
  width: 11rem;
  height: 5rem;
  background-color: red;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clear: both;
  transition: all 0.5s ease-out;
}

.test {
  transform: scale(0.5);
  color: yellow;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  left: 197px;
}
nav li {
  // display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #555;
  border-bottom: 4px solid orange;
}
nav a#openup {
  display: none;
}

@include mediaSm {
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    display: none;
    height: auto;
    left: 0;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
